body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

table {
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}